<header class="main-header">
  <div class="wc-container">
    {% if page.homepage %}
    <h1><a href="{{ site.baseurl }}/">{{ site.harmono.name }}</a></h1>
    <h2>{{ site.harmono.description }}</h2>
    {% include header-links.html %}
    {% else %}
    <h1 id="title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% endif %}
    {% if page.feature && page.feature.photo && page.feature.creator %}
    <div class="feature-photo-credit">
      <p>Photo credit:
        <a href="{{ page.feature.creator_url }}">{{ page.feature.creator }}</a>
        {% if page.feature.license %}
        / by <a href="{{ page.feature.license_url }}">{{ page.feature.license }}</a>
        {% endif %}
      </p>
    </div>
    {% endif %}
  </div>
</header>
