<h6>Follow me</h6>

<ul class="social-media">

  {% if site.harmono.social.github %}
  <li>
    <a title="{{ site.harmono.social.github }} on Github"
       href="https://github.com/{{ site.harmono.social.github }}"
       class="wc-img-replace" target="_blank"><i class="fa fa-fw fa-github-alt"></i></a>
  </li>
  {% endif %}

  {% if site.harmono.social.linkedin %}
  <li>
    <a title="{{ site.harmono.social.linkedin }} on LinkedIn"
       href="https://linkedin.com/in/{{ site.harmono.social.linkedin }}"
       class="wc-img-replace" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
  </li>
  {% endif %}

  {% if site.harmono.social.twitter %}
  <li>
    <a title="{{ site.harmono.social.twitter }} on Twitter"
       href="https://twitter.com/{{ site.harmono.social.twitter }}"
       class="wc-img-replace" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
  </li>
  {% endif %}

  {% if site.harmono.social.facebook %}
  <li>
    <a title="{{ site.harmono.social.facebook }} on Facebook"
       href="https://facebook.com/{{ site.harmono.social.facebook }}"
       class="wc-img-replace" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
  </li>
  {% endif %}

  {% if site.harmono.social.gplus %}
  <li>
    <a title="{{ site.harmono.social.gplus }} on Google+"
       href="https://plus.google.com/+{{ site.harmono.social.gplus }}"
       class="wc-img-replace" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
  </li>
  {% endif %}

  <li>
    <a title="Subscribe"
       href="{{ site.baseurl | prepend: site.url }}/{% if site.feed.path %}{{ site.feed.path }}{% else %}{{ "feed.xml" }}{% endif %}"
       class="wc-img-replace" target="_blank"><i class="fa fa-fw fa-rss"></i></a>
  </li>

</ul>
